@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkSlateGray: #27272a;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f9fafb;
}

#__next {
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

@layer utilities {
  .menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: min(100%, 350px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkSlateGray);
    translate: -100% 0;
    transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
    overflow-y: auto;
  }

  .menu::-webkit-scrollbar {
    display: none;
  }

  .menu__open {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-in 0.375s;
  }

  .nav {
    width: 100%;
    position: relative;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .nav__open {
    width: 100%;
    opacity: 1;
  }

  .nav__item {
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }

  .sub__menu {
    height: 0;
    overflow: hidden;
  }

  .icon__row {
    display: grid;
    place-items: center;
  }

  .icon__row-active {
    display: grid;
    place-items: center;
    rotate: 90deg;
  }

  @keyframes menu-in {
    0% {
      clip-path: ellipse(60% 60% at 0% 50%);
    }
    100% {
      clip-path: ellipse(120% 120% at 0% 50%);
    }
  }

  @media screen and (min-width: 976px) {
    .menu {
      position: relative;
      z-index: initial;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      background-color: var(--darkSlateGray);
      translate: 0;
    }

    .nav {
      position: relative;
      width: 100%;
      opacity: 1;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1;
    }

    .nav__item {
      position: relative;
      width: auto;
    }



    .sub__menu {
      position: absolute;
      top: 0;
      height: 0px;
      overflow: hidden;
    }

    .sub__menu-open {
      width: auto;
      height: 200px;
      padding-left: 0;
      font-size: 0.875rem;
      overflow-y: auto;
    }

    .sub__menu-open::-webkit-scrollbar {
      display: none;
    }
  }
}

/* .bx-log-out-circle,
.bx-help-circle {
  font-size: 1.3em;
} */
